* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 30px;
}

#inputs .container #return-message {
    background-color: blue;
    color: #fff;
    display: none;
    font-size: 15px;
}
